<div class="participation-card">
  <div class="event-info">
    <h1 class="event-title"><%=@event.title %></h1>
    <p class="event-category"><%=@event.category %></p>
    <p class="event-description"><%=@event.description %></p>
    <p class="event-dates">
      <span>From: <%=@event.starting_day.strftime("%B %d, %Y") %></span>
      <span>To: <%=@event.ending_day.strftime("%B %d, %Y") %></span>
    </p>
  </div>
</div>

<div class="participation-details">
  <h2>Your Booking Details</h2>
  <p class="participation-info"><%= @participation.status%></p>
</div>
