<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Events</h3>
    <%= link_to "Create your event", new_event_path, class: "btn btn-flat"%>
  </div>
  <div class="row">
    <h1>Our Events</h1>
    <% @events.each do |event|%>
      <div class="card-category">
        <strong><%= event.title%></strong>
        <strong><%= event.category%></strong>
        <%= event.description%>
        <%= event.starting_day%>
        <%= event.ending_day%>
      </div>
      <div class="event-card-actions">
        <%= link_to "Details", event_path(event)%>
        <% if policy(@event).edit?%>
          <%= link_to "Edit", edit_event_path(event), class:"ms-3 text-warning"%>
        <% end %>
        <% if policy(@event).destroy?%>
          <%= link_to "Remove", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"ms-3 text-danger"%>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
