<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create your own event</h3>
        <%= simple_form_for @event do |f|%>
          <%= f.input :category, placeholder: "Birthday Party"%>
          <%= f.input :description, placeholder: 'Details'%>
          <%= f.input :starting_day, placeholder: 'dd/mm/yyyy'%>
          <%= f.input :ending_day, placeholder: 'dd/mm/yyyy'%>
          <%= f.input :photo, as: :file%>
          <%= f.submit class: 'btn btn-flat'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
