<div class="card-category card-large">
  <h1><%= @event.category%></h1>
  <p><%= @event.description%></p>
  <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill%>
</div>


<h2>Book this <%= @event.category%></h2>
<%= simple_form_for [@event, @participation] do |f| %>
  <%= f.input :status%>
  <%= f.submit class: "btn btn-flat"%>
<% end %>
