
<% if current_user %>
  <!-- home page for the admin -->
  <% if current_user.admin?%>
    <div class="admin-home-section" style="background-image: url('<%= asset_path 'bg.png' %>'); background-size: cover; background-position: center;">
      <div class="admin-home-item">
        <div class="admin-home-body">
          <h2 class="section-title">Admin Dashboard</h2>
          <p class="card-text">Manage Events and Users </p>
          <div class="admin-home-footer">
            <%= link_to 'View All Events', events_path, class: "btn btn-primary"%>
            <%= link_to "View All Users", users_path, class: 'btn btn-primary'%>
            <%= link_to 'Create an Event', new_event_path, class: "btn btn-primary"%>
            <%= link_to 'Update an existing Event', events_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <!-- homepage for the owners -->
  <% elsif current_user.owner? %>
    <div class="owner-home-section" style="background-image: url('<%= asset_path 'bg.png' %>'); background-size: cover; background-position: center;">
      <div class="owner-home-item">
        <h2 class="section-title">Owner Dashboard</h2>
        <div class="owner-home-body">
          <div class="owner-home-footer">
            <%= link_to 'Create an Event', new_event_path, class: "btn btn-primary"%>
            <%= link_to 'Update an existing Event', events_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  <!-- homepage for the clients -->
  <% elsif current_user.client? %>
  <div class="video-container">
      <video autoplay muted loop id="bg-video">
          Your browser does not support the video tag.
          <source src="<%= asset_path('bg-video.mp4') %>" type="video/mp4">
      </video>
      <div class="banner-titles">
          <div class="title1">
              <p class="welcome">WELCOME TO</p>
              <h1 class="title11">MODHEEL EVENT MANAGEMENT</h1>
              <h2 class="title12">Where Memories Begin</h2>
          </div>
          
      </div>
      <div class="links">
              <div class="link">
                  <a class="btn-modheel" href="/services">Book Our Services</a>
              </div>
              <div class="link">
                  <a class="btn-modheelo" href="/contact">Contact Us</a>
              </div>
              <div class="link">
                <%= link_to 'Find an event to book', events_path, class: "btn-modheel"%>
              </div>
          </div>  
    </div>

    <div class="banner">
      <div class="card-corp">
        <div class="card-titres">
            <h2 class="card-soustitre">Who We Are</h2>
            <p class="modheel-text"> With 15 years of experience in Event Management across France, Tunisia, and Algeria under the name Orients Events, Modheel brings unparalleled expertise to Dubai. We specialize in handling every aspect of your event, from planning and innovative marketing strategies to flawless execution. We are dedicated to transforming your vision into reality, whether it’s a gathering, wedding, birthday celebration, or holiday party. </p>
        </div>
        <video class="video-container2" autoplay muted loop id="mod-video" style="
            width: 480px;">
            <source src="<%= asset_path('mod-video.mp4') %>" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
      </div>
    </div>
  <% end %>

<% else %>
  <div class="video-container">
      <video autoplay muted loop id="bg-video">
          Your browser does not support the video tag.
          <source src="<%= asset_path('bg-video.mp4') %>" type="video/mp4">
      </video>

      <div class="banner-titles">
          <div class="title1">
              <p class="welcome">WELCOME TO</p>
              <h1 class="title11">MODHEEL EVENT MANAGEMENT</h1>
              <h2 class="title12">Where Memories Begin</h2>
          </div>
      </div>

      <div class="links">
          <div class="link">
              <a class="btn-modheel" href="/services">Book Our Services</a>
          </div>
          <div class="link">
              <a class="btn-modheelo" href="/contact">Contact Us</a>
          </div>
          <div class="link">
              <a class="btn-modheel" href="/events">Book Our Events</a>
          </div>
      </div>  
    </div>

  <!-- home page for the users -->

  <div class="banner">
    <div class="card-corp">
      <div class="card-titres">
          <h2 class="card-soustitre">Who We Are</h2>
          <p class="modheel-text"> With 15 years of experience in Event Management across France, Tunisia, and Algeria under the name Orients Events, Modheel brings unparalleled expertise to Dubai. We specialize in handling every aspect of your event, from planning and innovative marketing strategies to flawless execution. We are dedicated to transforming your vision into reality, whether it’s a gathering, wedding, birthday celebration, or holiday party. </p>
      </div>
      <video class="video-container2" autoplay muted loop id="mod-video" style="
          width: 480px;">
          <source src="<%= asset_path('mod-video.mp4') %>" type="video/mp4">
          Your browser does not support the video tag.
      </video> 
    </div>
  </div>

<%end%>
<%= render "shared/footer"%>


